@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&display=swap");

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
:root{
    --background-color: #ECF2F8;
    --color-grey-400: #9DAEC2;
    --color-grey-500: #6E8098;
    --color-grey-900: #48556A;
    --fs-1: 20px;
    --fs-2: 13px;
}
html, body{
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pictrue{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    min-width: 730px;   
    width: 50%;
    height: auto;
    min-height: 280px;
    border-radius: 10px;
    background-color: white ;
}
.details{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    font-size: var(--fs-1);
    color: var(--color-grey-900);
    font-weight: bold;
} 

.description{
    font-size: var(--fs-2);
    color: var(--color-grey-500);
}

.socials{
    font-size: var(--fs-2);
    display: flex;
    justify-content: space-between;
}

.person{
    display: flex;
    font-size: var(--fs-2);
}

.avatar{
    width: 40px;
    height: 40px;   
    object-fit: contain;
    border-radius: 50%;
}

.info{
    margin-left: 1rem;
}

.name{
    color: var(--color-grey-900);
    font-weight: bold;
}

.date{
    color: var(--color-grey-400);
}

.share_btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--background-color);
    border: 0;
}

.share_btn > img{
    width: 20px;
    height: 20px;
}

@media (max-width: 1000px) {
    .card{
        min-width: 60%;
        height: 65%;
    }    
    .details{
        justify-content: space-around;
    }
}

@media (max-width: 600px) {
    .container{
        justify-items: center;
        align-items: flex-start;
        margin-top: 2rem;
    }
    .card{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        width: 80%;
        min-width: 300px;
        max-width: 80%;
        height: auto;
        max-height: 90%;
    }
    .details{
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .pictrue{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
}

@media (max-width: 250px){
    .card{
        width: 95%;
        min-width: unset;
        min-height: 250px;
        margin: 0 2.5%;
    }
    .details{
        margin: 0.8rem;
        gap: 0.5rem;
        justify-content: space-around;
    }
    .title{
        font-size: 14px;
        line-height: 1.2;
    }
    .description{
        font-size: 10px;
        line-height: 1.3;
    }
    .socials{
        margin-top: 0.5rem;
    }
    .avatar{
        width: 25px;
        height: 25px;
    }
    .share_btn{
        width: 25px;
        height: 25px;
    }
}